body {
  text-align: center;
  background: #fcfcfa;
  color: #818078;
  font-family: Futura, sans-serif;
}

.container {
  max-width: 50%;
  margin: 40px auto;
}

.title-hr {
  border-top: 0.1em solid #818078;
  line-height: 1em;
  position: relative;
  text-align: center;
  color: black;
}
.title-hr-thin {
  border-top: 0.05em solid #ddd;
  line-height: 1em;
  position: relative;
  text-align: center;
  color: black;
}
.table {
   border-collapse: collapse;
}
