*{box-sizing: border-box;}
a{text-decoration: none;}

a:link, a:visited, a:active {color:inherit;}

h4{
    font-weight: bold;
    font-family:verdana;
}

span{
    color: rgb(226, 126, 148);
}

#main{
    display:flex;
    justify-content : space-around;
    padding: 50px;
    font-weight: bold;
    font-family:verdana;
}

html,body{
    height: 100%;
}

body{
    display:flex;
    flex-direction:column;
}

#main{
    flex:1;
}

.foot{
    flex-shrink: 0;
}

header{
    padding: 40px;
    text-align: center;
    background-color: rgb(210, 223, 247);
}

aside{
    font-family:verdana;
    font-weight: bold;
}

footer{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background:rgb(212, 228, 235);
    flex-shrink: 0;
}

table{
    width: 100%;
    border-top: 1px solid #ebeef1;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #bbcbee;
    padding: 10px;
    text-align: center;
}

th{
    background-color:rgb(243, 208, 232);
}