html {background-color: skyblue;}

p {font-weight: bold;
   font-family: monospace;
   line-height: 2;}

h1 { color: darkblue; }
h4 { color: palevioletred;}


a:link { color: green; }
a:visited { color: darkgreen;}
a:active {color: darkslateblue;}
a:hover {background-color: darkslategray;}

